@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  min-height: 400vh;
}

:before,
:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.titleText,
h2 {
  color: rgb(37, 37, 37);
  font-size: 2em;
  font-weight: 300;
}
.titleText span,
h2 span {
  color: #000;
  font-weight: 700;
  font-weight: 1.5em;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-1 {
  font-size: 16px;
  color: #f5f5f5;
  background-color: rgb(37, 37, 37);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 5px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #f5f5f5;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo {
  color: rgb(37, 37, 37);
}
header.sticky .nav li a {
  color: rgb(172, 172, 172);
}
header .logo {
  color: #f5f5f5;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .nav {
  position: relative;
  display: flex;
}
header .nav li {
  margin: 0 0 0 30px;
}
header .nav li a {
  color: rgb(221, 221, 221);
  font-weight: 300;
}
header .nav li a:hover {
  color: rgb(37, 37, 37);
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("image/bg1-oxy.jpg") no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
.home .content {
  max-width: 900px;
  text-align: center;
}
.home .content h2 {
  font-size: 5em;
  font-weight: 400;
  color: #f5f5f5;
}
.home .content p {
  font-size: 1em;
  font-weight: 500;
  color: #f5f5f5;
}

.about {
  padding: 80px 0 80px;
  min-height: 100vh;
}
.about .row {
  position: relative;
  width: 100%;
  display: flex;
  flex: 0 0 50%;
  padding: 15px;
  justify-content: space-between;
  margin-top: 100px;
}
.about .row:nth-child(2) img {
  width: 70%;
}
.about .row:nth-child(3) img {
  margin-left: 50%;
  width: 50%;
}
.about .row:nth-child(even) {
  flex-direction: row-reverse;
}
.about .row .col50 {
  position: relative;
  width: 48%;
}
.about .row .col50 .imgBx {
  position: relative;
  height: 100%;
}
.about .row .col50 .imgBx img {
  position: absolute;
  height: 100%;
}

.system {
  padding: 80px 0 80px;
  min-height: 100vh;
  

  background-image: url('image/bg2.jpg');
 	background-repeat: no-repeat;
  background-size: cover;
}
.system .container .title h2 {
  color: rgb(37, 37, 37);
  font-weight: 400;
}
.system .container .title h2 span {
  color: #000;
}
.system .container .title p {
  color: rgb(37, 37, 37);
  font-weight: 500;
}
.system .container .row {
  padding: 40px 0 0;
}
.system .container .row .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.system .container .row .timeline::before {
  content: "";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #ddd;
  position: absolute;
}
.system .container .row .timeline .row .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.system .container .row .timeline .row .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}
.system .container .row .timeline .row .timeline-item:nth-child(odd) .timeline-item-inner {
  border: 1px solid #ddd;
}
.system .container .row .timeline .row .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: -50%;
}
.system .container .row .timeline .row .timeline-item:nth-child(odd) .timeline-item-inner .icon {
  right: -56px;
}
.system .container .row .timeline .row .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}
.system .container .row .timeline .row .timeline-item:nth-child(even) .timeline-item-inner {
  border: 1px solid #ddd;
}
.system .container .row .timeline .row .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: -50px;
}
.system .container .row .timeline .row .timeline-item:nth-child(even) .timeline-item-inner .icon {
  left: -55px;
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #ddd;
  top: 37px;
  z-index: -1;
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner .icon {
  height: 9px;
  width: 9px;
  position: absolute;
  top: 33px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background: #ddd;
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner span {
  font-weight: 500;
  color: #f5f5f5;
  display: block;
  margin: 0 0 10px;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner h4 {
  font-size: 16px;
  font-style: italic;
  color: rgb(37, 37, 37);
  margin: 0;
}
.system .container .row .timeline .row .timeline-item .timeline-item-inner p {
  font-size: 16px;
  color: rgb(221, 221, 221);
  line-height: 26px;
  margin: 15px 0 0;
}

.contact {
  padding: 80px 0 80px;
  min-height: 100vh;
}
.contact .box {
  margin: 50px 0 0;
  display: flex;
  flex: 0 0 50%;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.contact .box .containerForm {
  border-radius: 10px;
  padding: 40px;
  background: #f5f5f5;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  width: 45%;
}
.contact .box .containerForm h3 {
  color: #000;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contact .box .containerForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact .box .containerForm .inputBox input,
.contact .box .containerForm .inputBox textarea {
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
.contact .box .containerForm .inputBox input[type=submit] {
  font-size: 1em;
  color: #f5f5f5;
  background: rgb(37, 37, 37);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.contact .box .map {
  position: relative;
  padding: 25px;
  height: 400;
  width: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
  border-radius: 10px;
}
.contact .box .map iframe {
  width: 100%;
  height: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px;
}
.contact .box .icon-container {
  margin-top: 50px;
  width: 100%;
  color: #000;
  background: #f5f5f5;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 100px 10px 15px;
}
.contact .box .icon-container .icons {
  margin: 5px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.contact .box .icon-container .icons span {
  font-size: 1rem;
  font-weight: 6em;
}
.contact .box .icon-container .icons p {
  font-size: 1rem;
  justify-content: space-around;
  align-items: center;
}

.cp {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  justify-content: center;
}
.cp p {
  color: rgb(37, 37, 37);
}
.cp a {
  color: rgb(172, 172, 172);
  font-weight: 500;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */